$select: ".logo-title-hero" !default;

// config
@use "./../config/colors";
@use "./../config/fonts";
@use "./../config/queries";

// abstracts
@use "Shared/scss/templates/base/abstracts/group";
@use "Shared/scss/templates/base/abstracts/background";

@mixin base {
    #{$select} {
        text-align: center;

        &__group {
            @include group.contain(1rem);

            align-items: flex-end;
            justify-content: center;
        }

        &__logo {
            flex-basis: queries.em(240);
            font-size: 1rem;

            display: flex;
            justify-content: center;
        }

        &__logo > img {
            max-width: queries.em(240);
        }

        &__title {
            font: 400 fonts.rem(40) / 1 fonts.get(primary);
            text-align: center;
            text-transform: uppercase;

            transform: translateY(12%);

            sup {
                font-size: 0.4em;
                bottom: 0.25em;
            }

            @media screen and (max-width: 750px) {
                font-size: fonts.rem(35);
            }
        }

        &__box {
            font-weight: normal;
            font-size: clamp(1.3rem, 3vw, 1.875rem);
            padding: 1rem;
            border: 1px solid;
            display: inline-flex;
            flex-direction: column;
            margin-top: 1rem;
            text-transform: capitalize;
            color: colors.primary(warm-rose-hue-6);

            > small {
                display: block;
            }
        }

        &__text {
            flex-basis: 100%;
        }

        @media all and (max-width: queries.set(930)) {
            &__box {
                flex-direction: column;
                max-width: 50ch;
                margin-inline: auto;

                > span {
                    max-width: 25ch;
                    margin-inline: auto;
                }
            }
        }

        @content;
    }
}

@mixin page-banner {
    #{$select} {
        &--page-banner {
            @include background.color-map(
                colors.accent(latte-tint),
                colors.get(base)
            );

            padding: queries.rem(80) 1rem;

            #{$select} {
            }

            @content;
        }
        &--shrink {
            padding: 2rem 1rem;
        }
    }
}

@mixin for-emma {
    #{$select} {
        &--for-emma {
            #{$select} {
                &__logo {
                }
            }

            @media all and (max-width: queries.set(620)) {
                #{$select} {
                    &__group {
                        @include group.gutter(
                            $gutter-contract: 0.5rem,
                            $gutter-expand: 0.5rem
                        ) {
                        }
                    }

                    &__logo {
                        order: -1;
                        flex-basis: 100%;
                    }
                }
            }

            @content;
        }
    }
}

@mixin favorite-products {
    #{$select} {
        &--favorite-products {
            #{$select} {
                &__logo {
                }
            }

            @media all and (max-width: queries.set(620)) {
                #{$select} {
                    &__group {
                        @include group.gutter(
                            $gutter-contract: 0.5rem,
                            $gutter-expand: 0.5rem
                        ) {
                        }
                    }

                    &__logo {
                        order: -1;
                        flex-basis: 100%;
                    }
                }
            }

            @content;
        }
    }
}
