@use "sass:map";

$select: ".order-table" !default;

// config
@use "./../config/colors";
@use "./../config/fonts";
@use "./../config/queries";

// components
@use "Shared/scss/templates/base/components/order-table" with (
    $select: $select
);

// abstracts
@use "Shared/scss/templates/base/abstracts/group";

@mixin base {
    @include order-table.base;
    @include order-table.item-grid {
        tbody {
            td {
                &:first-child {
                    @include order-table.span-item-grid-row;
                    border-bottom: none;
                }

                &:not(:first-child) {
                    @include order-table.flex-item-grid-row;
                }
            }
        }
    }

    #{$select} {
        table {
            padding: 0;
        }

        &__group {
            @include group.contain;
            align-items: center;
        }

        &__picture {
            max-width: queries.em(50);
            border: 1px solid rgba(0, 0, 0, 0.25);
            background: colors.get(light);
            padding: 0.5em;
        }

        a {
            font-size: 0.9em;
        }

        picture {
            margin-top: auto;
            // max-width: queries.em(55);
        }

        @content;
    }
}

@mixin order-item {
    #{$select} {
        &--order-item {
            tr:last-child {
                border-bottom-width: 1px;
            }

            #{$select} {
            }

            @content;
        }
    }
}
