$select: ".nav" !default;

// config
@use "./../config/colors";
@use "./../config/fonts";
@use "./../config/queries";

// abstracts
@use "Shared/scss/templates/base/abstracts/group";

// layouts
@use "Shared/scss/templates/base/layouts/nav" with (
    $colors: (
        background: colors.primary-type(white),
        text: colors.primary-type(black)
    ),
    $mq: (
        container-min: queries.get(navbar),
        container-max: queries.get(navbar)
    )
);

@mixin base {
    @include nav.base {
        box-shadow: none;
        font-size: 1.2em;

        &__logo-tagline {
            $gutter: 0.5rem;

            @include group.contain($gutter) {
            }

            align-items: center;
            justify-content: flex-start;
            flex-wrap: nowrap;

            &::before {
                $length: 1px;

                content: "";
                min-width: #{$length};
                min-height: #{$length};
                flex: 0 0 #{$length};
                background: currentColor;
                align-self: stretch;
                margin: #{$gutter};

                display: none;
            }

            & > *:first-child {
                order: -1;
            }
        }

        &__logo {
            max-width: queries.em(200);
            display: inline-block;
            padding: 0;
        }

        &__tagline {
            font: italic fonts.em(18) / 1 fonts.get(primary);
        }

        &__list {
            z-index: 1;
            position: relative;
        }

        & &__link:hover,
        & &__link:focus,
        &__link > button:hover,
        &__link > button:focus {
            outline: none;
            text-decoration: none;
            font-weight: 500;
        }

        &__actions {
            color: colors.primary(latte);
        }

        & &__label {
            color: colors.primary(latte);
        }

        &--simple &__group {
            * {
                display: none;
            }
        }

        &--simple &__logo-tagline {
            display: block;
            margin: 0.25em auto;
            * {
                display: block;
            }
        }

        &__label:not(&__label--is-selected) {
            span,
            &::after {
                -webkit-transform: scaleX(1);
                transform: scaleX(1);
            }
        }

        top: -1px;
    }

    @include nav.bar {
        &__logo-tagline {
            padding: 1rem 0;
        }

        & &__logo {
            font-size: 1rem;
        }

        &__group {
            align-items: center;
            flex-wrap: wrap;
        }

        &__pane > &__group {
            flex-wrap: nowrap;
        }

        &__pane {
            flex-basis: 100%;
            order: 1;

            &::before,
            &::after {
                pointer-events: none;
                opacity: 0;
            }
        }

        &__list {
            justify-content: center;

            @include group.contain($gutter: 1rem) {
            }

            > * {
                margin: 0;
            }

            margin-top: 0;
            margin-bottom: 0;

            > *:first-child,
            > *:last-child {
                margin-right: auto;
            }
        }

        &__list > &__logo-tagline {
            display: none;
        }

        &__link {
            padding: 1rem;
        }

        &__actions {
            flex: 0 0 auto;
        }

        &__pane,
        &__list,
        &__link {
            position: static;

            background: transparent;
        }
    }

    @include nav.drawer {
        &__logo {
            max-width: queries.em(150);
        }

        &__label {
            margin-left: 1rem;
        }

        &__actions {
            margin-left: auto;
            padding-left: 0.5em;
        }

        &__underlay {
            z-index: 2;
        }

        &__list {
            text-align: left;

            > * {
                flex-basis: 100%;
                justify-content: flex-start;

                position: relative;
            }
        }

        &__pane &__logo {
            margin: 0.5rem;
        }

        &__list > &__logo-tagline,
        &__link {
            padding: 1.5rem;
        }

        @media all and (max-width: queries.set(760)) {
            &__group > &__logo-tagline::before,
            &__group > &__logo-tagline > &__tagline {
                display: none;
            }

            &__list > &__logo-tagline {
                flex-direction: column;
            }
        }
    }

    #{$select} {
        @content;
    }
}

@mixin wave {
    #{$select} {
        &__in {
            padding: 0 1em;
        }

        &::after {
            content: "";
            display: block;
            background: url(/images/UPGRADE/wave.png) top right no-repeat;
            min-width: 18em;
            min-height: 100%;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        @content;
    }
}
