@use "sass:math";

$select: ".slide" !default;

// layouts
@use "Shared/scss/templates/base/layouts/slide" with (
    $select: $select
);

// config
@use "./../config/colors";
@use "./../config/fonts";
@use "./../config/queries";

// abstracts
@use "Shared/scss/templates/base/abstracts/group";

@mixin base {
    @include slide.base;

    #{$select} {
        position: relative;

        &__container {
            position: relative;
        }

        &__item {
            align-self: stretch;
            align-items: stretch;
        }

        &__nav {
            z-index: 2;
            width: 100%;
            //color: colors.primary(warm-rose-hue-6);
            button {
                background: colors.primary-type(white);
                color: colors.primary(warm-rose-hue-6);
                border-color: colors.primary(warm-rose-hue-6);
                box-shadow: 0 0 0.15em rgba(0, 0, 0, 0.25);

                &:hover,
                &:focus {
                    background: colors.primary(warm-rose-hue-6);
                    color: colors.primary-type(warm-rose-hue-6);
                }

                > svg {
                    stroke-width: 0.5px;
                }
            }
        }

        @media all and (min-width: slide.$desktop) {
            &__nav {
                max-width: 80rem;
            }
        }

        @media all and (max-width: slide.$desktop) {
            &__nav {
                font-size: 0.5em;
            }

            &__prev,
            &__next {
                flex: 1;
            }
        }

        @content;
    }
}

@mixin product-images {
    #{$select} {
        &--product-images {
            $gap: 0.5rem;

            picture {
                flex: 1;
                isolation: isolate;
            }

            img {
                width: 100%;
                height: 100%;
                pointer-events: none;
            }

            #{$select} {
                &__thumbnails {
                    padding-top: calc(#{$gap} * 2);

                    @include group.contain($gap) {
                        flex: 0 1 calc((100% / 4) - (#{$gap} * 2));
                    }

                    justify-content: flex-start;
                }

                &__thumbnail {
                    position: relative;

                    &:focus {
                        outline-color: currentColor;
                    }

                    &::before,
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        bottom: 0;
                        left: 0;
                        right: 0;
                    }

                    &::before {
                        background: whitesmoke;
                        opacity: 1;
                    }

                    &::after {
                        display: block;
                        z-index: 1;
                        background: rgba(0, 0, 0, 0.5);
                        transition: opacity 0.3s ease-in-out;
                        opacity: 0;
                    }

                    &--is-selected {
                        &::after {
                            opacity: 1;
                        }
                    }
                }
            }

            @content;
        }
    }
}

@mixin hero-banner {
    #{$select} {
        &--hero-banner {
            #{$select} {
                // &__item {
                //     align-self: stretch;
                //     align-items: stretch;
                // }

                // &__nav {
                //     width: 100%;
                // }

                // &__prev,
                // &__next {
                //     background: colors.get(light);
                //     color: colors.get(highlight);
                //     box-shadow: 0 0 0.15em rgba(0, 0, 0, 0.25);

                //     &:hover,
                //     &:focus {
                //         background: colors.get(highlight);
                //         color: colors.get(light);
                //     }

                //     > svg {
                //         stroke-width: 0.5px;
                //     }
                // }

                // @media all and (min-width: slide.$desktop) {
                //     &__nav {
                //         max-width: 80rem;
                //     }
                // }

                // @media all and (max-width: slide.$desktop) {
                //     &__nav {
                //         font-size: 0.5em;
                //     }

                //     &__prev,
                //     &__next {
                //         flex: 1;
                //     }
                // }

                &__into {
                    margin: 0;
                }

                &__thumbnails {
                    position: absolute;
                    z-index: 2;
                    bottom: -3em;
                    right: 0;

                    text-align: right;
                }

                &__thumbnail {
                    border: 1px solid #bfb7c4;
                    padding: 2em 0.5em 0.5em;
                    font: fonts.em(18) / 1 fonts.get(secondary);

                    transition: 0.3s ease-in-out;

                    &:hover,
                    &:focus,
                    &--is-selected {
                        background: white;
                        text-decoration: none;
                    }
                }
            }

            @content;
        }
    }
}

@mixin press {
    #{$select} {
        &--press {
            #{$select} {
                &__thumbnails {
                    position: absolute;
                    z-index: 2;
                    bottom: -3em;
                    right: 0;

                    text-align: right;
                }

                &__thumbnail {
                    border: 1px solid #bfb7c4;
                    padding: 2em 0.5em 0.5em;
                    font: fonts.em(18) / 1 fonts.get(secondary);

                    transition: 0.3s ease-in-out;

                    &:hover,
                    &:focus,
                    &--is-selected {
                        background: white;
                        text-decoration: none;
                    }
                }
            }

            @media all and (max-width: queries.get(document-mobile-portrait)) {
                margin-bottom: 5em;
            }

            @content;
        }
    }
}

@mixin promo-banner {
    #{$select} {
        &--promo-banner {
            $gap: 1rem;

            #{$select} {
                &__in {
                    padding-top: 0;
                    padding-bottom: 0;
                }

                &__into {
                    justify-content: space-between;

                    gap: #{$gap};
                    margin: 0;
                }

                &__item {
                    flex-basis: auto;
                    align-self: center;

                    padding: #{$gap} 0;

                    display: inline-block;

                    text-align: center;

                    // &:first-child {
                    //     text-align: left;
                    // }

                    // &:last-child {
                    //     text-align: right;
                    // }
                }
            }

            @content;
        }
    }
}

@mixin instagram-content {
    #{$select} {
        &--instagram-content {
            position: relative;

            #{$select} {
                &__item {
                    $break-threshold: 400;

                    max-width: 100%;

                    @media all and (min-width: queries.set($break-threshold)) {
                        max-width: calc(100% / 2);
                    }

                    @media all and (min-width: queries.set($break-threshold * 2)) {
                        max-width: calc(100% / 3);
                    }

                    @media all and (min-width: queries.set($break-threshold * 3)) {
                        max-width: calc(100% / 4);
                    }

                    @media all and (min-width: queries.set($break-threshold * 4)) {
                        max-width: calc(100% / 5);
                    }
                }
            }

            @content;
        }
    }
}

@mixin tiktok-videos {
    $break-threshold: 400;

    #{$select} {
        &--tiktok-videos {
            position: relative;

            #{$select} {
                &__item {
                    max-width: 100%;

                    // @media all and (min-width: queries.set($break-threshold)) {
                    //     max-width: calc(100% / 2);
                    // }

                    @media all and (min-width: queries.set($break-threshold * 2)) {
                        max-width: calc(100% / 3);
                    }

                    @media all and (min-width: queries.set($break-threshold * 3)) {
                        max-width: calc(100% / 4);
                    }
                }
            }

            @media all and (min-width: queries.set($break-threshold * 3)) {
                @include slide.take-out-nav;
            }

            @content;
        }
    }
}

@mixin tagline-descriptors {
    #{$select} {
        &--tagline-descriptors {
            @include fadein-on-interact();
            @include transparent-chevrons();

            position: relative;

            #{$select} {
                &__nav {
                    justify-content: flex-end;
                }

                &__next {
                    right: -1.5em;
                }

                &__item {
                    justify-content: flex-end;
                }
            }

            @content;
        }
    }
}

@mixin transparent-chevrons {
    #{$select} {
        &__prev,
        &__next {
            background: none;
            border: none;
            box-shadow: none;
        }

        @media all and (max-width: slide.$desktop) {
            &__nav {
                font-size: 1em;
                position: absolute;
            }

            &__nav button {
                flex-grow: 0;
            }
        }
    }
}

@mixin fadein-on-interact {
    #{$select}__nav button {
        opacity: 0;
    }

    &:hover #{$select}__nav button,
    &:focus-within #{$select}__nav button {
        opacity: 1;
    }
}

@mixin product-spotlight {
    #{$select} {
        &--product-spotlight {
            @include fadein-on-interact();
            @include transparent-chevrons();

            #{$select} {
                &__item > * {
                    flex: 1;
                }
            }

            @content;
        }
    }
}

@mixin fade {
    @include slide.fade($select: slide.$select) {
    }

    #{$select} {
        &--fade {
            #{$select} {
            }

            @content;
        }
    }
}

@mixin vimeo-carousel {
    @include slide.vimeo-carousel;

    #{$select} {
        &--vimeo-carousel {
            #{$select} {
            }

            @content;
        }
    }
}

@function set-max-width-with-gap($multiplier: 1, $gap: 0.75rem) {
    @return calc((100% / #{$multiplier}) - (#{$gap} * 2));
}

@mixin category-products {
    #{$select} {
        &--category-products {
            $gap: 0.75rem;

            #{$select} {
                &__into {
                    gap: calc(#{$gap} * 2);
                }

                &__item {
                    max-width: 100%;

                    @media all and (min-width: queries.set(500)) {
                        max-width: set-max-width-with-gap(2, $gap);
                    }

                    @media all and (min-width: queries.set(760)) {
                        max-width: set-max-width-with-gap(3, $gap);
                    }

                    @media all and (min-width: queries.set(1000)) {
                        max-width: set-max-width-with-gap(4, $gap);
                    }

                    > * {
                        width: 100%;
                    }
                }
            }

            @media all and (min-width: queries.set(1400)) {
                #{$select} {
                    &__prev {
                        left: -2em;
                    }

                    &__next {
                        right: -2em;
                    }
                }
            }

            @media all and (max-width: queries.set(1400)) {
                #{$select} {
                    &__nav {
                        position: relative;
                        justify-content: center;

                        font-size: 0.75em;

                        > button {
                            flex-grow: 1;
                        }
                    }

                    &__prev {
                    }

                    &__next {
                    }
                }
            }

            @content;
        }
    }
}
