$select: ".vimeo-gallery" !default;

// config
@use "./../config/colors";
@use "./../config/fonts";
@use "./../config/queries";

// abstracts
@use "Shared/scss/templates/base/abstracts/group";
@use "Shared/scss/templates/base/abstracts/space";

@mixin base {
    #{$select} {
        &__group {
            @include group.contain($gutter: 0.5rem) {
                flex: 1 1 20em;
            }
        }

        &__item {
            @include space.between-flow-elements($gap: 1rem) {
            }
        }

        &__title {
            margin-bottom: 1rem;
        }

        @content;
    }
}
