$select: ".button" !default;

// config
@use "./../config/fonts";
@use "./../config/colors";

// components
@use "Shared/css/template/shoppingcart/components/button";

@mixin base {
    @include button.new(colors.get(callout), colors.get(light));

    #{$select} {
        text-transform: uppercase;
        font-size: 1em;
        font-weight: 600;
        font-family: fonts.get(primary), sans-serif;
        border-radius: 0;

        &--alt {
            border-color: colors.get(primary);
            color: colors.get(primary);
            &:before {
                background: colors.get(light);
            }
            &::after {
                background: colors.get(primary);
            }
            &:hover,
            &:focus {
                color: colors.get(light);
            }
        }

        &--can-shrink {
            padding: 0.33em 1em;
            margin: 0.5em;
        }

        @content;
    }
}

@mixin view-products {
    @include button.name-color-map("view-products", white, #777, currentColor);

    #{$select} {
        &--view-products {
            #{$select} {
            }

            @content;
        }
    }
}

@mixin retailer {
    @include button.name-color-map(
        "retailer",
        colors.get(highlight),
        colors.get(light),
        colors.get(highlight)
    );

    #{$select} {
        &--retailer {
            #{$select} {
            }

            @content;
        }
    }
}

@mixin express-checkout {
    @include button.express-checkout;
}
